---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Tech from "../components/Tech.astro";
import TimeLine from "../components/TimeLine.astro";
---

<Layout title="Manu.dev">
  <main>
    <div>
      <Header />
    </div>
    <div>
      <About />
    </div>
    <div>
      <TimeLine />
    </div>
    <div>
      <Projects />
    </div>
    <div>
      <Tech />
    </div>
    <div>
      <Contact />
    </div>
  </main>
</Layout>
