---
import Badge from "../components/Badge.astro";
---

<div class="w-full py-44 max-auto lg:w-[740px]">
  <div>
    <h1 class="text-5xl font-bold flex justify-start">
      Hola! Soy Manuel Barrios <Badge>Open to work</Badge>
    </h1>
    <h2 class="py-10 text-2xl flex justify-start">
      Soy Fullstack Software Developer con +3 años de experiencia en la
      programación web. Cuento con una variedad de habilidades blandas que me
      permiten trabajar de manera efectiva para alcanzar las metas de cada
      proyecto que me asignan.
    </h2>
  </div>
</div>
