---
const social = {
  logos: [
    {
      name: "linkedin",
      url: "https://www.linkedin.com/in/manuel-b-76870287/",
      src: "/img/linkedin.svg",
      alt: "linkedin",
    },
    {
      name: "github",
      url: "https://github.com/ManuPro14",
      src: "/img/github.svg",
      alt: "github",
    },
    {
      name: "whatsapp",
      url: "https://wa.me/573043544404",
      src: "/img/whatsapp.svg",
      alt: "whatsapp",
    },
  ],
};
---

<section class="justify-center items-center pt-8 text-gray-200 mt-20">
  <h1 class="flex justify-center text-5xl font-semibold">Contacto</h1>

  <div class="flex justify-center items-center space-x-4 py-8">
    {
      social.logos.map((logo) => (
        <a
          href={logo.url}
          target="_blank"
          rel="noopener noreferrer"
          class="w-16 h-16 flex items-center justify-center transition-transform hover:scale-110 text-gray-200"
          aria-label={logo.name}
        >
          <img src={logo.src} alt={logo.alt} class="w-16 h-16" />
        </a>
      ))
    }
  </div>
</section>
