<header class="flex justify-between items-center max-py-auto max-w-[1120px]">
  <h1 class="text-white text-3xl">manu.dev</h1>
  <nav class="flex felx-raw gap-x-10">
    <a href="/" class="">Home</a>
    <a href="/" class="">About</a>
    <a href="/" class="">Projects</a>
    <a href="/" class="">Contacto</a>
    <a href="/" class="">CV download</a>
  </nav>
</header>
